<div class="header_child_home">
    <div class="w-30 header_child_home_body">
        <div class="header_child_home_label">
            <h2>Worldwide mobile rechange: send credit end data any phone</h2>
        </div>
        <div class="header_child_home_content">
            <label>Recipient's country: </label>
            <div class="custom-dropdown">
                <div class="selected-option">
                    <div>
                        <img style=" width: 40px; border-radius: 4px; margin-right: 5px;" src="/img/{{model.country.img}}" />
                        {{model.country.title}}
                    </div>
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="dropdown-list">
                    <div ng-repeat="item in list" class="option">
                        <img src="/img/{{item.img}}" />
                        {{item.title}}
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-success" ng-click="viewProducts()" type="button">Start Rechangrge</button>
            </div>
        </div>
    </div>
</div>
<div class="container body">
    <div class="group_column">
        <div class="group_title">
            <span>Mobile top-up</span>
        </div>
        <div class="group_mobile">
            <div class="group_mobile_item" ng-repeat="item in listService">
                <img src="/img/{{item.picture}}" alt="{{item.name}}" />
                <span>{{item.name}}</span>
            </div>
        </div>
        <div class="link-info">
            <button class="btn btn-success" ng-click="viewProducts()" type="button">View all products</button>
        </div>
    </div>
</div>
<div class="footer_child_home">
    <div class="container footer_child_home_label">
        <span>Recharge fast, safe & simple</span>
    </div>
    <div class="container group_footer_child">
        <div class="item_group_footer">
            <img src="/img/test.svg" alt="G-mobile" />
            <span class="title">Instant digital delivery</span>
            <span class="description">You'll be able to use your digital credit within seconds.</span>
        </div>
        <div class="item_group_footer">
            <img src="/img/tes1.svg" alt="G-mobile" />
            <span class="title">Trusted by milions</span>
            <span class="description">We're proud to have over 5 milion customers worldwide and consident Excellent ratings on TrusPilot.</span>
        </div>
        <div class="item_group_footer">
            <img src="/img/test2.svg" alt="G-mobile" />
            <span class="title">Pay safely & securely</span>
            <span class="description">Order in seconds using your favaurite payment method.</span>
        </div>
    </div>
</div>
