<div class="container footer_layout">
    <div class="logo">
        <img style="width:250px" src="~/img/logo.png" />
        <span>
            &copy; 2024 Recharge.com
        </span>
    </div>
    <div class="foorter_action">
        <span>How It works</span>
        <span>Privacy Statement</span>
        <span>Cookie Statement</span>
    </div>
</div>