<div class="admin_content">
    <div class="ad_content_header">
        <div class="ad_ct_header_locate">
            Admin > {{locate}}
        </div>
    </div>
    <div class="ad_content_body">

        <div class="ad_ct_body_form">
            <div class="ad_form_content login-box" ng-show="modelSetup.insert">
                <h1>{{modelSetup.titleForm}}</h1>
                <div class="div_cancle" ng-click="cancle()">
                    <i class="fas fa-times"></i>
                </div>
                <form>
                    <div style=" color: white; margin-bottom: -15px; ">
                        Service
                    </div>
                    <div class="custom-dropdown">
                        <div class="selected-option">
                            <div ng-show="model.ServicePicture != ''">
                                <img style=" width: 40px; border-radius: 4px; margin-right: 5px;" src="/img/{{model.ServicePicture}}" />
                                {{model.ServiceTitle}}
                            </div>
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-list">
                            <div ng-repeat="item in listService" class="option" ng-click="chooseService(item.id)" ng-class="{'option_selected': (item.id == model.IdService)}">
                                <img src="/img/{{item.picture}}" />
                                {{item.name}}
                            </div>
                        </div>
                    </div>
                    <div class="user-box" ng-class="{'lack_info': ErrorValue}">
                        <input type="text" name="" ng-model="model.Value" required="" ng-change="changeModel('Value')">
                        <label>Value</label>
                    </div>
                    <div class="user-box" ng-class="{'lack_info': ErrorPhone}">
                        <input type="text" name="" ng-model="model.Phone" required="" ng-change="changeModel('Phone')">
                        <label>Phone</label>
                    </div>
                    <div style=" color: white; margin-bottom: -15px; ">
                        User Payment
                    </div>
                    <div class="custom-dropdown">
                        <div class="selected-option" style="height:50px">
                            <div>
                                {{model.UserName}}
                            </div>
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="dropdown-list">
                            <div ng-repeat="item in listUser" class="option" ng-click="chooseUser(item.id)" ng-class="{'option_selected': (item.id == model.IdUser)}">
                                {{item.fullname}}
                            </div>
                        </div>
                    </div>
                    <div style="color:red;height:30px;margin: -10px 0 10px 0">{{message}}</div>
                    <button class="btn btn-success" ng-click="submit()" type="button">
                        {{modelSetup.titleButton}}
                    </button>
                </form>
            </div>
        </div>

        <div class="ad_ct_body_form" ng-show="modelSetup.delete">
            <div class="ad_form_content login-box form_access">
                <div class="form_access_title">
                    Are you sure you want to delete it?
                </div>
                <div class="form_access_group_btn">
                    <button class="btn btn-success" ng-click="submitDelete()" type="button">Confirm</button>
                    <button class="btn btn-danger" ng-click="cancle()" type="button">Cancel</button>
                </div>
            </div>
        </div>

        <div class="ad_ct_body_table">

            <div class="body_tb_title">
                <div>
                    {{modelSetup.titleTable}}
                </div>
                <div class="group_btn_action">
                    <button class="btn btn-success" ng-click="insert()" type="button"><i class="fas fa-plus"></i></button>
                </div>
            </div>

            <div class="body_tb_content">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" ng-repeat="item in listTitle">{{item}}</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listData">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{item.id}}</td>
                            <td>{{item.value}}</td>
                            <td>0{{item.phone}}</td>
                            <td>
                                <img style="width:70px;" src="/img/{{item.picture}}" />
                            </td>
                            <td>{{item.account}}</td>
                            <td>
                                <button class="btn btn-info" ng-click="edit(item.id)" type="button">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-danger" ng-click="delete(item.id)" type="button">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="listData.length == 0" style="margin-left:20px; color:orangered">No data</div>
            </div>

        </div>

    </div>
</div>
<div ng-show="isLoading" class="loading">Loading&#8230;</div>
<div ng-show="layoutPopup" class="layoutPopup"></div>