@{
    ViewData["Title"] = "Service Provider";
}

<div ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script src="~/views/myWeb/serviceProvider/controller.js"></script>